<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>Progressive lab - {{title }}</title>
  <link rel="stylesheet" href="/css/style.css">
  {{#if ENV_DEVELOPMENT}}
    <script src="http://localhost:35729/livereload.js"></script>
  {{/if}}
</head>
	<body>
      <div id="header">
          <h1>Progressive lab</h1>
          <div id="nav">
              <ul>
                  <li><a href="search">Search</a></li>
                  <li><a href="">Dynamic form</a></li>
                  <li><a href="">Shopping cart</a></li>
                  <li><a href="">Nestled form</a></li>
              </ul>
          </div>
      </div>
      <div id="content">
        {{{body}}}
      </div>

  	</body>
</html>
