





<div class="box">
    <div class="container-4">
        <form action="search/result" method="post">
        <input type="search" name="name" id="search" placeholder="" autofocus/>
        <button class="icon"><i class="fa fa-search"></i></button>
        </form>
    </div>
</div>
