
    <h1 id="sign-up">Sign up for another spammy news letter.</h1>
    <div id="dynamic-form">
    <form action="/signup/result" method="post">
        <label for="name">Name:</label><br />
        <input name="name" /><br />


        <label for="email">Email:</label><br />
        <input name="email" /><br />


        <label for="country">Country:</label><br />
        <select name="country"
                onChange="var locWithoutQuery = window.location.href.split('?')[0];
					  var selectedCountry = this.options[this.selectedIndex].value;
			          window.location.replace(locWithoutQuery+'?country='+selectedCountry);">
            <option value="">Select</option>
          {{#each countries}}
              <option value="{{this.name}}"
                      {{#if this.selected}}selected{{/if}}>
                {{this.name}}
              </option>
          {{/each}}
        </select><br />


        <label for="city">City:</label><br />
        <select name="city">
            <option value="">Select</option>
          {{#each cities}}
              <option value="{{this}}">{{this}}</option>
          {{/each}}
        </select><br />


        <button type="submit">Submit</button>
    </form>

</div>
