body {
  margin: 0;
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url('/img/background.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;

}

a {
  color: #00B7FF;
}

#header{
  height: auto;
  width: 100%;
  background-color: black;
  opacity: 0.5;
}

#header h1 {
  color: #ffffff;
  text-align: left;
  padding: 30px;
  margin: 0;
}

#header a {
  color: white;
  text-decoration: none;
}

#nav {
  width: 100%;
  height: 35px;
  font-size: 16px;
  font-family: "Helvetica", sans-serif;
  font-weight: bold;
  text-align: center;
  background-color: transparent;
  color: white;

}

#nav ul {
  height: auto;
  padding: 8px 0px;
  margin: 0px;
  float: right;
}

#nav li {
  display: inline;
  padding: 20px;
}

#nav li a {
  color: white;
  text-decoration: none;
}

#content {
  width: 100%;
  height: 500px;

}

.box{
  margin: 0px auto;
  padding-top: 10%;
  width: 300px;
  height: 50px;
  left: auto;
  right: auto;
}

.container-4{
  overflow: hidden;
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
}

.container-4 input#search{
  width: 300px;
  height: 50px;
  background: #2b303b;
  border: none;
  font-size: 10pt;
  float: left;
  color: #fff;
  padding-left: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.container-4 input#search::-webkit-input-placeholder {
  color: #65737e;
}

.container-4 input#search:-moz-placeholder { /* Firefox 18- */
  color: #65737e;
}

.container-4 input#search::-moz-placeholder {  /* Firefox 19+ */
  color: #65737e;
}

.container-4 input#search:-ms-input-placeholder {
  color: #65737e;
}

.container-4 button.icon{
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  border: none;
  background: #232833;
  height: 50px;
  width: 50px;
  color: #4f5b66;
  opacity: 0;
  font-size: 10pt;

  -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -ms-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease;
}

.container-4:hover button.icon, .container-4:active button.icon, .container-4:focus button.icon{
  outline: none;
  opacity: 1;
  margin-left: -50px;
}

.container-4:hover button.icon:hover{
  background: white;
}

#dynamic-form {
  margin: 0 auto;
  padding-top: 2%;
  width: 150px;
  position:relative;
  font-family: "Helvetica", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #fff;
}

#dynamic-form form {
  margin: 0 auto;
}

#dynamic-form label {
  display: block;
  float: left;
}

#dynamic-form input, select{
  height: 30px;
  width: 150px;
  border-radius: 5px;
  display: block;
  vertical-align: middle;
  background: #2b303b;
  border: none;
  color: #fff;
  font-size: 13px;
}

#dynamic-form input:focus, select:focus{
  outline: none;
}

#dynamic-form button {
  height: 30px;
  width: 150px;
  border-radius: 5px;
  background: #2b303b;
  border: none;
  color: #fff;
  font-size: 18px;
}

#sign-up {
  text-align: center;
}
