
<form method="POST" action="/groups/adduser" >
  <label for="fullname">Full name:</label>
  <input type="text" required name="fullname" />
  <br />
  <label for="email">Email: </label>
  <input type="text" required name="email" />
  <br />
  <button type="submit">Add user</button>
</form>
