<h1>Congratulations</h1>

<p>We will now bombard you with spam every day. Unsubscriptions are handled by changing your e-mail address.</p>

<p>You signed up as</p>

<dl>
	<dt>Name</dt><dd>{{person.name}}</dd>
	<dt>Email</dt><dd>{{person.email}}</dd>
	<dt>Country<dt><dd>{{person.country}}</dd>
	<dt>City</dt><dd>{{person.city}}</dd>
</dt>