

  <!-- Render each person. The structure looks like this:

  { FN: 'Albin Theander',
    VERSION: '3.0',
    ORG: 'Jayway Syd',
    TEL: { type: [Object], value: '+46 701 46 92 55' },
    EMAIL: { type: [Object], value: 'albin.theander@jayway.com' },
    N: 'Theander, Albin' }
   -->

 <div id="searchresultHeader">
   <h1>Result</h1>
     <div id="searchresult">
   {{#each people}}

         <p>Name: {{this.FN}}</p>


   {{else}}
       No one found.
   {{/each}}
 </div>
 </div>
